@media (max-width: 600px) {
  /*1 no section CSS*/

  .div-a {
    padding: 0px auto;
  }
  .image-a {
    height: 45px;
    width: 45px;
  }
  .menu-item {
    padding-left: 10px;
    gap: 15px;
  }
  .menu {
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 5px;
  }
  .menu-a {
    font-size: 10px;
    padding: 4px 8px;
    border-radius: 5px;
  }

  /*2 no section code*/

  .item-a {
    margin: 4%;
  }
  .title-a {
    font-size: 30px;
  }
  .title-b {
    font-size: 25px;
  }
  .li-a {
    font-size: medium;
  }
  .pragraph {
    font-size: medium;
  }
  .pragraph-a {
    font-size: medium;
  }
  .pragraph-b {
    font-size: large;
  }
}
